* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #091921;
    background-image: url(image/background.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Helvetica Neue LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HelveticaNeueLTStd55Roman_22526.woff');
    }

@font-face {
        font-family: 'Helvetica Neue LT Std 45 Light';
        font-style: normal;
        font-weight: normal;
        src: url('fonts/HelveticaNeueLTStd45Light_22520.woff');
    }

.container {
    width: 100%;
}

h3 {
    font-family: 'Bebas Neue', serif;
    font-size: 2.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 2rem 0;
}

fieldset {
    width: 90%;
    margin: 0 auto 3rem auto;
    border-radius: 8px;
    padding: 3.5rem 0 3rem 0;
    text-align: center;    
    font-family: 'Helvetica Neue LT Std 45 Light';
    background-color: white;
    border: none;
}

.inputBox {
    width: 80%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.labelBox {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
.labelContent {
    position: absolute;
    bottom: 18px;
    left: 8px;
    font-size: 1rem;
    background-color: white;
    color: #808080;
    padding: 0 .2rem;
    transition: all 0.3s ease;
}
  
input[type=number] {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: .8rem;
    padding-left: .6rem;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1.2rem;
    -moz-appearance: textfield;
    transition: all 0.3s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputBox:nth-child(odd) {
    margin-bottom: 2.5rem;
}

input[type=number]:focus {
    outline: none;
    border: 2px solid #1a73e8;
    border-radius: 4px;
}

input[type=number]:focus + .labelBox .labelContent,
input[type=number]:valid + .labelBox .labelContent {
    transform: translateY(-185%);
    font-size: .8rem;
    left: 7px;
}

input[type=number]:focus + .labelBox .labelContent {
    color: #1a73e8;
}

.btn {    
    margin-top: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #1a73e8;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 1rem 1.5rem .8rem 1.5rem;
    border: 0;
    border-radius: 5px;
    font-size: .8rem;
    font-family: 'Helvetica Neue LT Std 55 Roman'!important;
}

.btn:disabled {
    opacity: .5;
}

.tableScroll {
    display: block;
    overflow-x: auto;
    margin: 0 auto;
}

table {
    display: none;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-collapse: collapse!important;
    border-style: hidden;
    background: white;
}

thead tr {
    font-family: 'Helvetica Neue LT Std 55 Roman';
    text-transform: uppercase;
    color: white;
}

th {
  background-color: #1a73e8;
  border: 1px solid #1a73e8;
}

th, td {
    padding: 1rem;
}

tbody tr {
    font-family: 'Helvetica Neue LT Std 45 Light';
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: gainsboro;
}

/* Responsive styling */
@media screen and (min-width:576px) {
    h3 {
        font-size: 3.5rem;
    }

    fieldset {
        width: 500px;
    }

    .labelContent {
        bottom: 17.5px;
    }

    .inputBox {
        display: inline-block;
        width: fit-content;
        margin: 0;
    }    

    .inputBox:nth-child(odd) {
        margin-right: 2.5rem;
        margin-bottom: 0;
    }

    input[type=number] {
        width: 180px;
    }

    .labelContent {
        bottom: 19px;
    }
    
    .btn {
        font-size: 1rem;
        padding: 1.2rem 1.7rem .9rem 1.7rem;
    }

    th, td {
        padding: 1rem 2rem;
    }
}