* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #233e5c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* font-family: 'Quicksand', sans-serif; */
@font-face {
    font-family: 'Helvetica Neue LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: url('HelveticaNeueLTStd55Roman_22526.woff');
    }

@font-face {
        font-family: 'Helvetica Neue LT Std 45 Light';
        font-style: normal;
        font-weight: normal;
        src: url('HelveticaNeueLTStd45Light_22520.woff');
    }

.container {
    width: 100%;
}

h3 {
    font-family: 'Bebas Neue', 'Helvetica Neue LT Std 55 Roman';
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

fieldset {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 3rem 0;
    text-align: center;    
    font-family: 'Helvetica Neue LT Std 45 Light';
    background-color: white;
}

.inputContainer {
    width: fit-content;
    margin: 0 auto;
}

.inputBox {
    width: fit-content;
    display: inline-block;
    position: relative;
    width: fit-content;
}

.inputBox:nth-child(odd) {
    margin-right: 5rem;
}
  
.labelBox {
    position: absolute; 
    bottom: 8px;
    left: 5px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
.labelContent {
    position: absolute;
    bottom: 7px;
    left: 2px;
    transition: all 0.3s ease;
    font-size: 1rem;
    background-color: white;
    color: #808080;
    padding: 0 .2rem;
}
  
input[type=number] {
    width: 200px;
    padding-top: .8rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1.3rem;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:focus {
    outline: none;
    border: 2px solid #1a73e8;
    border-radius: 4px;
}

input[type=number]:focus + .labelBox .labelContent,
input[type=number]:valid + .labelBox .labelContent {
    transform: translateY(-190%);
    font-size: .8rem;
}
 
.btn {
    margin-top: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #1a73e8;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
}

.btn:disabled {
    opacity: .5;
}

table {
    width: fit-content;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

thead, th {
    background-color: white;
    border-top: 1px solid black;
    padding: 1rem 2rem;
    font-family: 'Helvetica Neue LT Std 55 Roman';
    text-transform: uppercase;
    border: 0;
}

tbody {
    border: 0;
}


td {
    padding: 1rem 2rem;
    background-color: white;
}